body {
    font-family: Arial;
    text-align: center;
}

h2 {
    margin-top: 0px;
    color: white;
}

p {
    color: #b2b2b2;
}

button{
    color: #332200;
    background-color: #febe01;
    border-radius: 4px;
    padding: 10px;
}

.CorDoBotão {
    color: #febe01;
}

div {
    text-align: left;
    background-color: #111;
    margin-bottom: 2%;
    width: 700px;
    padding: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}