<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../Static/login.css">
</head>

<body>
    <div class="container">
        <h1>Minha Rede Social</h1>
        <div class="login-box">
            <p>Faça login para continuar</p>

            <input type="text" placeholder="Digite seu e-mail">
            <input type="password" placeholder="Digite sua senha">

        
            <a href="feed.html">
                <button type="button">Entrar</button>
            </a>

        </div>
    </div>
</body>

</html>