<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../Static/login.css">
</head>

<body>
    <div class="container">
        <h1>Minha Rede Social</h1>
        <div class="login-box">
            <P>Faça login para continuar</P>
            <form action="/login" method="post">

                <input type="text" <input type="text" placeholder="Digite seu e-mail">
                <input type="text" <input type="password" placeholder="Digite sua senha">
                <a href="../Templates/feed.html"><button type="submit">Entrar</button></a>
                
            </form>
        </div>
    </div>
</body>

</html>