body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.hoje {
    color: rgb(26, 3, 231); /* vermelho visível no escuro */
}

.amanha {
    color: rgb(238, 234, 2); /* azul visível no escuro */
}

a {
    text-decoration: none;
    color: white;
}

h2 a {
    color: lightseagreen;
}

p {
    font-size: 20px;
}