#fonte-a { font-family: Arial, sans-serif; color: red; }
#fonte-b { font-family: "Times New Roman", serif; font-size: 22px; color: green; }
#fonte-c { font-family: "Comic Sans MS", cursive; font-size: 20px; color: blue; font-style: italic; }
#fonte-d { font-family: Verdana, sans-serif; font-size: 14px; color: yellow; font-weight: bold; font-stretch: medium; }