/* 1.CENTRALIZA O CONTEÚDO PRINCIPAL NA TELA */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; 
    margin: 50;
    padding: 40px 40;
    /* Centraliza o container horizontalmente na tela */
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 900px; /* Limite de largura para o conteúdo */
}

/*  Centraliza o texto do títlo h1 */
h1 {
    color: #333;
    text-align: center; 
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* CRIAR CAIXA PRETA PARA CADA PRODUTO */
.box-produto {
    background-color: #1a1a1a; /* Fundo preto escuro */
    color: #ffffff; /* Texto branco padrão */
    padding: 30px 20px;
    border-radius: 4px; 
    text-align: left; /* Alinhamento do conteúdo interno (como na imagem) */
    margin-bottom: 30px; /* Espaço entre a caixa do Carro e da Bicicleta */
}

/* Estilo para o Preço (amarelo/dourado) */
.preco {
    color: #ffd700; 
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Estilo para a Descrição */
.descricao {
    font-size: 1.1em;
    margin-bottom: 30px;
}

/* Estilo do Botão Amarelo*/
.botao-comprar {
    background-color: #ffcc00; /* Amarelo do botão */
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    /* Faz o botão se comportar como um bloco se necessário */
    display: inline-block; 
}