body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.filme-hoje { color: darkred; }
.filme-amanha { color: darkblue; }

a { text-decoration: none; }

h2 a { color: seagreen; }

p { font-size: 20px; }

/* Estilos para modo escuro */
.filme-hoje-dark-mode { color: lightsalmon; }
.filme-amanha-dark-mode { color: lightskyblue; }

h1, a { color: white; }

.filmes-container {
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}