body {
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
}

.hoje {
    color: darkred
}

.amanha {
    color: darkblue
}

h1,
a {
    text-decoration: none;
}

h2 a {
    color: seagreen;
}

.filme {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b2b2b2;
    border-radius: 8px;
}