body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1, a {
    color: black;
}

a {
    text-decoration: none; 
}

h2 a {
    color: seagreen;
}

p {
    font-size: 20px;
}

.hoje {
    color: darkred;
}

.amanha {
    color: darkblue;
}

.filmes-container {
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 20px auto 0 auto;
}