/* Estilo global */
body {
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Destaque */
.destaque {
    color: rgb(114, 116, 117);
    background-color: rgb(95, 95, 95);
    padding: 1%;
    margin: 1%;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
}

/* Links */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2 a {
    color: lightseagreen;
}

/* Estilo dos filmes */
p {
    font-size: 20px;
}

.hoje {
    color: rgb(199, 139, 116);
}

.amanha {
    color: rgb(255, 255, 255);
}

/* Títulos */
h1 {
    color: white;
}
