/* Estilo global */
body {
    background-color: rgb(238, 238, 238);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Destaque */
.destaque {
    color: rgb(116, 116, 116);
    background-color: rgb(199, 208, 223);
    padding: 1%;
    margin: 1%;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

/* Links */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2 a {
    color: lightseagreen;
}

/* Estilo dos filmes */
p {
    font-size: 20px;
}

.hoje {
    color: rgb(199, 139, 116);
}

.amanha {
    color: rgb(12, 26, 148);
}

/* Títulos */
h1 {
    color: rgb(0, 0, 0);
}